body {
	font-family: sans-serif;
}
figure.SlidingPuzzleFigure {

}
ul.SlidingPuzzle {
	background: #000;
	border-radius: 5px;
	display: table;
	margin-bottom: 10px;
	margin-top: 30px;
	padding: 10px;
	width: 204px;
}
li.Tile {
	background: #fff;
	border: 6px outset #ccc;
	list-style: none;
	float: left;
	font-size: 36px;
	height: 56px;
	line-height: 56px;
	text-align: center;
	width: 56px;
}
figcaption {
	clear: both;
	font-size: 18px;
	font-style: italic;
	margin-left: 30px;
}

@media (max-device-width: 500px) {
	figure.SlidingPuzzleFigure {
		margin-left: 37px;
	}
	ul.SlidingPuzzle {
		display: table;
		margin-bottom: 10px;
		margin-top: 34px;
		padding: 12px;
		width: 231px;
	}
	li.Tile {
		border: 7px outset #ccc;
		font-size: 32px;
		height: 63px;
		line-height: 63px;
		width: 63px;
	}
	figcaption {
		font-size: 22px;
		margin-left: 22px;
	}
}